.gallery {
    display: flex;
    flex-direction: column;
    padding: 30px 0;

    .gallery__title {
        display: flex;
        justify-content: center;
        align-items: center;

        .gallery__container {
            position: relative;

            .gallery__container--one {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #1b1b1b;
                opacity: 0.8;
                border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
                transition: 0.5s;
                animation: animate 6s linear infinite;
                z-index: -4;
            }

            .gallery__container--two {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #1b1b1b;
                opacity: 0.8;
                border-radius: 39% 61% 63% 37% / 41% 44% 56% 59%;
                transition: 0.5s;
                animation: animate 5s linear infinite;
                z-index: -4;
            }

            .gallery__container--three {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #1b1b1b;
                opacity: 0.8;
                border-radius: 39% 61% 63% 37% / 41% 44% 56% 59%;
                transition: 0.5s;
                animation: animate 10s linear infinite;
                z-index: -4;
            }

            .gallery__container--four {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #1b1b1b;
                opacity: 0.8;
                border-radius: 39% 61% 63% 37% / 41% 44% 56% 59%;
                transition: 0.5s;
                animation: animate 4s linear infinite;
                z-index: -4;
            }

            h2 {
                padding: 30px 10px;
                @include title-text;
                font-size: calc(15px + 1.2vw);
                z-index: 5;
            }

        }
    }
}

.gallery__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px;

    .gallery__block--top,
    .gallery__block--mid,
    .gallery__block--bottom {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;

        .img__backgraund {
            img {
                width: 400px;
                height: 400px;
                border-radius: 10%;
            }
        }

        .article {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                @include title-text;
                color: black;
                font-size: calc(15px + 1vw);
                margin-bottom: 30px;
            }

            span {
                text-align: center;
                @include title-text;
                text-align: left;
                font-size: calc(15px + 0.7vw);
                color: #1b1b1b;
                padding: 15px;
                border-radius: 15px;
            }
        }
    }

    .gallery__block--mid {
        .img__backgraund {
            order: 1;
        }
    }

}