@media (min-width: 1280px) {
    .title {
        justify-content: space-evenly;
    }

    .main__rest {
        width: 400px;
    }

    .main__kitchen {
        width: 400px;
    }
}

@media (max-width: 1024px) {
    .title {
        flex-direction: column;
        justify-content: center;
        align-items:center;
        margin-top: 190px;
        padding: 0 150px;
    }

    .title .main__rest .rest__container {
        h1 {
            font-size: calc(15px + 1vw);
        };

        p {
            margin-top: 20px;
            line-height: 37px;
            font-size: calc(13px + 1vw);
        }
    }

    .title .main__kitchen .kitchen__container {
        h2{
            font-size: calc(15px + 1vw);
        }

        p {
            margin-top: 20px;
            line-height: 37px;
            font-size: calc(13px + 1vw);
        };
    }

    .title .main__rest {
        width: 85%;
        span {
            width: 100%;
        }
    }

    .navigation ul li a {
        padding: 1em;
        font-size: calc(15px + 0.7vw);
    }

    .navigation ul {
        margin: 35px 65px;
    }

    .gallery__block {
        padding: 0 20px;
    }

    footer .footer__container .footer__left .footer__title::before {
        top: 0;
        left: 40px;
    }

    footer .footer__container .footer__left .footer__title::after {
        left: 6px;
    }

    .main__name {
        margin-top: 50px;
    }

    .title .main__kitchen {
        width: 85%;
    }

    .menu__block .block__group .group__container {
        justify-content: space-evenly;
    }

    .menu__block {
        height: 800px;
    }
}

@media (max-width: 720px) {
    .navigation ul li a {
        font-size: calc(12px + 0.7vw);
    }

    .title {
        padding: 0 40px;
    }

    footer .footer__container .footer__right .right__container {
        width: 350px;
        height: 350px;
    }

    footer .footer__container .footer__left .left__contact {
        font-size: calc(10px + 0.2em);
    }

    .gallery__block .gallery__block--top .img__backgraund img,
    .gallery__block .gallery__block--mid .img__backgraund img,
    .gallery__block .gallery__block--bottom .img__backgraund img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 620px) {
    .title  {
        .main__rest {
            width: 100%;

            .rest__container {
                background-color: rgba(0, 0, 0, 0.8);
            }
        }
        
        .main__kitchen {
            width: 100%;

            .kitchen__container {
                background-color: rgba(0, 0, 0, 0.8);
            }
        }
    }
    .main__rest span:nth-child(1),
    .main__kitchen span:nth-child(1) {
        display: none;
    }
    .main__rest span:nth-child(2),
    .main__kitchen span:nth-child(2) {
        display: none;
    }
    .main__rest span:nth-child(3),
    .main__kitchen span:nth-child(3) {
        display: none;
    }

    .gallery__block .gallery__block--top .article span,
    .gallery__block .gallery__block--mid .article span,
    .gallery__block .gallery__block--bottom .article span {
            line-height: 16px;
            font-size: calc(13px + 0.5vw);
            padding: 0 20px 0 30px;
    }

    .gallery__block .gallery__block--top,
    .gallery__block .gallery__block--mid,
    .gallery__block .gallery__block--bottom {
        padding: 30px 0;
    }

    .gallery__block .gallery__block--top .img__backgraund img,
    .gallery__block .gallery__block--mid .img__backgraund img,
    .gallery__block .gallery__block--bottom .img__backgraund img {
        width: 250px;
        height: 250px;
    }

    footer .footer__container .footer__right .right__container {
    width: 300px;
    height: 300px;
    }
}

@media(max-width: 530px) {
    footer .footer__container {
        flex-direction: column;
    }
}

@media(max-width: 530px) {
    .navigation ul li a {
        padding: 0.2em;
    }

    .card {
        width: 235px;
        margin: 30px 0;

        .card__img {
            width: 170px;

            img {
                width: 170px;
            }
        }
    }

    .menu__block .block__group .group__container .group__line button {
        padding: 1.5em 0.3em;
    }

    .gallery__block .gallery__block--mid::after {
        left: 50px;
        transform: rotateZ(33deg);
    }

    .navigation ul li #light__home::after {
        top: 67px;
        left: 0;
    }

    .navigation ul li #light__footer::after {
        top: 67px;
        left: -20px;
    }

    footer .footer__container .footer__left .footer__title::before {
        left: 0;
    }

    footer .footer__container .footer__left .footer__title::after {
        left: -37px;
    }
}

@media(max-width: 458px) { //IPHONE 11 pro MAX
    .gallery__block .gallery__block--top .img__backgraund img,
    .gallery__block .gallery__block--mid .img__backgraund img,
    .gallery__block .gallery__block--bottom .img__backgraund img {
        width: 180px;
        height: 180px;
    }

    .title .main__name .name__container::after {
        top: -55px;
        left: 176px;
    }

    .title .main__rest .rest__container p {
        line-height: 23px;
        font-size: calc(12px + 1vw);
    }

    .title .main__kitchen .kitchen__container p {
        line-height: 27px;
        font-size: calc(14px + 1vw);
    }
}

@media(max-width: 414px) { // IPHONE 8 PLUS
    .title {
        padding: 0;
    }

    .gallery__block .gallery__block--mid::after {
        left: 32px;
        transform: rotate(27deg);
    }

    .title .main__name .name__container img {
        width: 350px;
        height: 350px;
    }

    .title .main__name .name__container::after {
        top: -31px;
        left: 138px;
        transform: rotateZ(23deg);
    }

    .navigation ul li a:hover {
        padding: calc(1em - 2px) calc(1em - 1px);
        border: 1px solid #ffffff;
    }

    .title .main__name .name__container {
        width: 100%;
    }

    .navigation ul {
        margin: 35px 20px;
    }

    .title .main__rest {
        margin-bottom: 50px;
    }

    .title .main__kitchen {
        margin-top: 74px;
    }

    .card .card__img {
        left: 15px;
    }
}

@media(max-width: 375px) { //iphone x
    .cards {
        padding: 0;
    }
    .navigation ul li a:hover {
        padding: calc(0.1em - 0.5px) calc(0.1em - 0.5px);
    }
}

@media(max-width: 320px) { //iphone x
    .title .main__name .name__container img {
        width: 280px;
        height: 280px;
    }
    .title .main__name .name__container::after {
        top: -9px;
        left: 69px;
    }

    .menu__block .block__group .group__container {
        padding: 0 10px;
    }

    .card .card__img {
        left: 11px;
    }

    .cards {
        padding: 20px 0;
    }

    .block__wall {
        display: none;
    }
}