.memu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
    z-index: 100;
}

.menu__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 40px;

    .menu__container {
        position: relative;

        h2 {
            padding: 30px 15px;
            @include title-text;
            font-size: calc(15px + 1.2vw);
            z-index: 5;
        }

        .menu__container--one {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #1b1b1b;
            opacity: 0.8;
            border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
            transition: 0.5s;
            animation: animate 6s linear infinite;
            z-index: -4;
        }

        .menu__container--two {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #1b1b1b;
            opacity: 0.8;
            border-radius: 39% 61% 63% 37% / 41% 44% 56% 59%;
            transition: 0.5s;
            animation: animate 5s linear infinite;
            z-index: -4;
        }

        .menu__container--three {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #1b1b1b;
            opacity: 0.8;
            border-radius: 39% 61% 63% 37% / 41% 44% 56% 59%;
            transition: 0.5s;
            animation: animate 10s linear infinite;
            z-index: -4;
        }

        .menu__container--four {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #1b1b1b;
            opacity: 0.8;
            border-radius: 39% 61% 63% 37% / 41% 44% 56% 59%;
            transition: 0.5s;
            animation: animate 4s linear infinite;
            z-index: -4;
        }
    }
}

.menu__block {
    display: flex;
    background: #000;
    opacity: 0.8;

    .block__group {
        .group__container {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-around;
            padding-left: 20px;

            .group__line {
                margin-bottom: 5px;

                button {
                    width: 100%;
                    height: 100%;
                    padding: 3em 1.5em;
                    background: red;
                    border: 2px rgb(255, 144, 16) solid;
                    border-radius: 15px;
                    @include title-text;
                    font-size: calc(15px + 0.4vw);
                }
            }
        }
    }
}

/* ============CARDS==========*/

.cards {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px;
}

.card {
    position: relative;
    width: 300px;
    height: 420px;
    background: beige;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px;
    transition: 0.3s ease-in-out;

    .card__img {
        position: relative;
        width: 220px;
        height: 260px;
        top: -60px;
        left: 25px;
        border-radius: 5%;
        z-index: 1;
        box-shadow: 0 5px 20px;

        img {
            width: 220px;
            height: 260px;
            border-radius: 15px;
        }
    }

    .content {
        position: relative;
        margin-top: -140px;
        padding: 10px 15px;
        text-align: center;
        color: rgb(129, 51, 51);
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
        visibility: visible;
        opacity: 1;
        margin-top: -40px;
        transition-delay: 0.3s;
        background: #131212;

        h2 {
            font-size: 20px;
            color: rgb(204, 47, 8);
        }

        p {
            font-size: 14px;
            color: orange;
            text-align: center;
        }
    }
}

.card:hover {
    height: 420px;
}

.cards .card:hover .content {
    background: black;
    border-radius: 15px;
    transition: 0.1s;
}

/* сохранил для активации анимации(если нужно)
    .cards .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
    background: #131212;
}
*/

.block__wall {
    width: 100px;
    background: url(../../../img/black-backgra.jpg) center center no-repeat;
    background-size: cover;

}

//SALADS
.cards__salads {
    display: none;
}

//SOUP
.cards__soup {
    display: none;
}

//NOOODLES
.cards__noodles {
    display: flex;
}

//DESSERTS
.cards__desserts {
    display: none;
}

//DRINKS
.cards__drinks {
    display: none;
}