.navigation {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 35px 200px;


        li {
            a {
                position: relative;
                @include title-text;
                padding: 1em 2em;
            }

            a:hover {
                padding: calc(1em - 2px) calc(2em - 2px);
                border: 2px solid #ffffff;
                border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
            }

            a:active {
                background: url(../../../img/backg-big.jpg) center center no-repeat;
                background-size: cover;
                transition: 0.1s;
                color: #000;
            }

            #light__home::after {
                position: absolute;
                top: 82px;
                left: 20px;
                width: 100px;
                height: 100px;
                background: url(../../../img/light.svg)center center no-repeat;
                background-size: contain;
                content: '';
            }

            #light__footer::after {
                position: absolute;
                top: 82px;
                left: 50px;
                width: 100px;
                height: 100px;
                background: url(../../../img/light.svg)center center no-repeat;
                background-size: contain;
                content: '';
            }
        }
    }
}