.title {
    display: flex;
    margin: 100px 0;
    .main__rest {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 150px;
        
        .rest__container {
            position: relative;
            margin: 0 20px;
            padding: 20px;
            background-color: rgba($color: #000000, $alpha: 0.5);
            border-radius: 80px;
            transform: 0.5;
            z-index: 69;
            
            h1 {
                @include title-text;
                text-align: center
            }
            p {
                @include post-text;
                font-size: calc(13px + 0.04vw);
            }
        }
    }

    .main__name {
        position: relative;
        .name__container {
            display: flex;
            justify-content: center;
            align-items:center;
            width: 400px;
            height: 400px;
            overflow:hidden;
            img {
                width: 400px;
                height: 400px;
                border-radius: 50%;
                transition: all 0s ease-out;
            }
        }

        .name__container::after {
            position: absolute;
            top: -30px;
            left: 200px;
            width: 200px;
            height: 100px;
            background: url(../../../img/Dragons/Dragon.svg)center center no-repeat;
            background-size: contain;
            content: '';
            transform: rotateZ(26deg);
        }
    }

    .main__kitchen {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 150px;
        .kitchen__container {
            margin: 0 20px;
            padding: 20px;
            background-color: rgba($color: #000, $alpha: 0.5);
            border-radius: 80px;
            transform: 0.5;
            z-index: 69;
            h2 {
                @include title-text;
                text-align: center
            }
            p {
                @include post-text;
                font-size: calc(13px + 0.04vw);
            }
        }
    }
}

//animation

.main__rest span:nth-child(1), .main__kitchen span:nth-child(1) {

    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: #1b1b1b;
    opacity: 0.8;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}

.main__rest:hover span:nth-child(1), .main__kitchen:hover span:nth-child(1) {

    background: #1b1b1b;
    border: none;
    opacity: 0.8;
}

.main__rest span:nth-child(2), .main__kitchen span:nth-child(2) {

    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: #1b1b1b;
    opacity: 0.8;
    border: 2px solid #2e2e2e;
    border-radius: 38% 62% 63% 37% / 41% 44% 54% 58%;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.main__rest:hover span:nth-child(2), .main__kitchen:hover span:nth-child(2) {

    background: #1b1b1b;
    border: none;
    opacity: 0.8;
}

.main__rest span:nth-child(3), .main__kitchen span:nth-child(3) {

    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: #1b1b1b;
    opacity: 0.8;
    border: 2px solid #2e2e2e;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate-two 10s linear infinite;
}

.main__rest:hover span:nth-child(3), .main__kitchen:hover span:nth-child(3) {

    background: #1b1b1b;
    border: none;
    opacity: 0.8;
}

@keyframes animate {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-two {

    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.rest__container__contant {

    position: relative;
    padding: 40px 60px;
    color: #ffffff;
    font-size: calc(11px + 0.5vw);
    text-align: center;
    transform: 0.5;
    z-index: 69;
}