@import "./scss-component/seting";
@import "./scss-component/variables";
@import "./scss-component/title";
@import "./scss-component/navigation";
@import "./scss-component/menu";
@import "./scss-component/gallery";

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    
}

.wrapper::before {
    content: '';
    position: fixed;
    /* Фиксируем на одном месте */
    left: 0;
    right: 0;
    /* Вся ширин */
    top: 0;
    bottom: 0;
    /* Вся высота */
    z-index: -1;
    /* Фон ниже текста */
    /* Параметры фона */
    background: url(../../img/backg-org.jpg) center / cover repeat;
    filter: blur(1px);
    /* Размытие */
}

header {
    width: 100%;
    margin-top: 20px;
    background-color: rgba($color: #000000, $alpha: 0.8);
    border-top: 5px black solid;
    border-bottom: 5px black solid;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 40px 0;
    background: rgba($color: #000000, $alpha: 0.9);

    .footer__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 30px 0;

        .footer__left {
            position: relative;
            display: flex;
            flex-direction: column;
            @include title-text;
            padding: 30px;
            font-size: 22px;

            .footer__title {
                position: relative;
                margin-bottom: 100px;
                color: orange;
                box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
                text-align: center;
                font-size: 30px;
            }

            .footer__title::before {
                position: absolute;
                top: 7px;
                left: -7px;
                width: 0px;
                height: 0px;
                border-bottom: 20px solid orange;
                border-right: 8px solid transparent;
                border-left: 8px solid transparent;
                content: '';
            }

            .footer__title::after {
                position: absolute;
                top: 39px;
                left: -40px;
                width: 0px;
                height: 0px;
                font-size: 20px;
                content: 'upwards?';
            }

            .left__contact {
                display: flex;
                flex-direction: column;
                border-radius: 20px;
                padding: 20px;

                a {
                    color: #fff;
                    margin: 15px 0;
                }

                span {
                    color: #fff;
                    margin: 15px 0;
                }
            }
        }

        .footer__right {
            .right__container {
                background: url(../../img/black-backgra.jpg) center center no-repeat;
                background-size: cover;
                width: 500px;
                height: 500px;

                .maps {
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                }
            }
        }
    }

    .footer__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            text-align: center;
            @include post-text;
            font-size: 10px;
            color: rgba($color: #fff, $alpha: 0.45);
        }
    }
}

@import './scss-component/media';